html {
  background-color: #ffec24;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
main {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 4px;
}
main h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  word-spacing: 1rem;
  text-align: center;
  margin: 0% 20%;
  line-height: 130%;
}
.icons {
  display: flex;
  padding: 1rem;
  font-size: 1rem;
  margin-right: 20px;
}
.icons a{
  margin: 10px;
}

header nav ul li {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  font-size: 0.7rem;
  margin-right: 10px;
}
header nav ul li:active {
  text-decoration: overline;
  display: flex;
  flex-wrap: wrap;
} /*probar que esto funcione*/
header {
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
header h1 {
  font-size: 1rem;
  font-weight: 700;
}
.waves {
  position: relative;
  width: 100vw;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  margin-top: 10%;
  margin-bottom: 10%;
}
section img {
  width: 35%;
  border-radius: 100%;
  margin-bottom: 3%;
}
section {
  align-items: center;
  justify-content: center;
}
section p {
  font-weight: bold;
}

form {
  max-width: 400px;
  margin: 0 auto; 
  padding: 20px; 
  background-color: #000000; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgb(255, 255, 255); 
  color: white; 
}


form input[type="text"],
form input[type="file"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
}


form button[type="submit"] {
  width: 100%; 
  padding: 10px; 
  background-color: #878004; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}


form label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
}


.error-message {
  color: red; 
  margin-top: 5px; 
}

.botonChances {
  font-family: Arial, Helvetica, sans-serif, bold;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #000000; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
}
.botonComprar{
  font-family: Arial, Helvetica, sans-serif, bold;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #000000; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
}